.h-10{
    height:10px;
    clear: both;
}
.h-20{
    height:20px;
    clear: both;
}
.btn-widget{
    height:50px;
    width:100%;
}
.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
    font-size: 20px;;
}
.padding-left-0{
    padding-left: 0px !important;
}